<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Message Board</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
</head>
<body>
    <div class="container">
  <h1>Messages Board!</h1>`
    <form action="/message" method="POST">
      <p>Name: <input type="text" name="name"></p>
      <p>Message: <textarea name="message"></textarea></p>
      <button class="btn btn-success">Post Message</button>
    </form>
    <hr>
    <% for(var i=0; i<messages.length; i++) { %>
      <h4>Name: <%= messages[i].name %></h4>
      <h4>Message: <%= messages[i].message %></h4>
          <% for(var j=0; j<messages[i].comments.length; j++) { %>
          <p>&emsp;Name: <%= messages[i].comments[j].name %></p>
          <p>&emsp;Comment: <%= messages[i].comments[j].comment %></p>
      <% } %>
      <hr>

      <form action="/comment" method="POST">
          <input type="hidden" name="message_id" value="<%= messages[i]._id %>">
          <p>&emsp;Name: <input type="text" name="name"></p>
          <p>&emsp;Comment: <textarea name="comment"></textarea></p>
          <!-- <p>&emsp;<input type="submit" value="Post comment"></p> -->
          <button class="btn btn-success">Post comment</button>
      </form>
      <hr>
  <% } %>
    </div>
  </body>
</html
